.Titre1 {
    // height: 35px;
    text-align: left;
    font-size: 32px;
    font-weight: 900;
    padding: 5px 10px;
    border-bottom: 1px solid darkgrey;
    text-shadow: 10px 15px 10px rgb(197, 197, 197);
}
.meme{
    color: tomato;
}
.js{
    color: skyblue;
}